/* ----------
-- Globals --
---------- */
body {
  padding: 0;
  margin: 0;
}

/* html {
  background: url(./cofeeGlitched.jpg) no-repeat center center fixed;
  background-size: cover;
} */

a {
  color: inherit;
}

p, h1 {
  color: white;
}

video {  
    min-width: 100%;
    min-height: 100%;
    background: no-repeat center center fixed;
    background-size: cover;
 }

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

/* @media (min-aspect-ratio: 16/9) {
    .fullscreen-bg {
        height: 300%; top: -100%;
    }
  } */

@media only screen 
and (device-width : 375px) {
    .fullscreen-bg {
      height: 100%; 
    left: -100%;
    }
  }

  @media only screen 
  and (min-device-width : 375px) 
  and (max-device-width : 667px) {
    .fullscreen-bg {
        height: 100%; 
      left: -90%;
      }
  }

.container {
  margin-top: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-header {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  margin: 0;
}
.text-footer {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  margin: 0;
}

.text-name {
  margin: 0;
  margin-top: 10px;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
}

.text-description {
  margin-top: 10px;
  font-weight: 400;
  line-height: 1.8;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 200px;
  width: 100%;
  font-size: 1.5em;
  color: white;
}

.fa-linkedin-in:hover {
  color: blue;
}

.fa-github:hover {
  color: red;
}

.fa-angellist:hover {
  color: green;
}

.fa-envelope:hover {
  color: yellow;
}

.page-wrap {
  /* margin-top: 220px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.m-video {
	background-color: #000000;
	position: relative;
}

.m-video__video {
	display: block;
	width: 100%;
}